{{define "appcontainer"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Picha</title>
    </head>
    <body>
        <main>
            {{template "yield" .}}
        </main>
    </body>
</html>
{{end}}