{{define "navbar"}}
    <div>
        <span>Photo Gallery</span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/gallery/new">Gallery</a></li>
        </ul>
        <ul style="float:right">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
{{end}}