{{define "yield"}}
    <div>
        <h3>Create a Gallery</h3>
        <form action="/gallery" method="POST">
            <fieldset>
                <div>
                    <label for="name">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title of your gallery" />
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
            </fieldset>
        </form>
    </div>
{{end}}