{{define "yield"}}
    <div class="pure-u-1">
        <span>To get in touch, please send an email to<a href="mailto:support@picha.com">support@picha.com</a></span>
    </div>

    {{template "footer"}}
{{end}}